* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 320px;
    height: 496px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
}